[Unit]
Description=Stress test on port 8080 and 8088 to stop it.
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/test.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
